.home__title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.home__title-img {
  max-width: 58px;
  margin-left: 7px;
}

.home__tests {
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
}

.home__articles {
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
}

/* ==================== new test ==================== */

.new-test__editor {
  margin-top: 15px;
}

.new-test__editor-form {
}

.new-test__editor-info {
  background-color: #222222;
  border-radius: 15px;
  padding: 20px;
  max-width: 700px;
}

.new-test__editor-questions {
  margin-top: 25px;
  background-color: #222222;
  border-radius: 15px;
  padding: 20px;
  max-width: 700px;
}

.new-test__editor-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  margin-top: 7px;
}

.new-test__editor-text {
  margin-top: 25px;
  font-size: 16px;
}

.new-test__editor-questions {
}

/* ======================== new-value =================== */

.new-value__inner {
  /* padding: 30px 0px; */
}

.new-value__title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.new-value__title-img {
  max-width: 65px;
  margin-left: 4px;
}

/* ================ Tests ================== */
.tests__inner {
}
.tests__tests-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* =================Адаптив================ */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .home__title {
    font-size: 14px;
  }

  .home__title-img {
    max-width: 25px;
  }

  .home__tests {
    flex-direction: column;
    align-items: center;
  }
}
