.test {
  padding-bottom: 10px;
  border-radius: 20px;
  width: 420px;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
}

.test__title {
  font-weight: 700;
  font-size: 18px;
  padding: 15px 10px;
}

.test + .test {
  margin-left: 10px;
}
.test:hover {
  box-shadow: 0px 0px 25px #ff158b;
  outline: #ff158b 4px solid;
  transform: scale3d(1.07, 1.07, 1.07);
}

.test__img {
  width: 100%;
  height: 235px;
  border-radius: 15px 15px 0px 0px;
}

.test__body {
  height: 250px;
}

.test__description {
  padding: 10px 10px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.578);
}

.test__reactions {
  border-top: #202020 1px solid;
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.test__reactions-like {
  max-width: 30px;
  margin-right: 5px;
}

/* ===============test game================= */

.test-game__inner {
  margin: 40px auto;
  padding: 20px 50px;
  max-width: 850px;
  max-height: 800px;
  background-color: #222222;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-game__progress-inner {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.test-game__progress {
  padding: 2px 0px;
  height: 2px;
  width: 100%;
  background-color: #121212;
  margin-bottom: 30px;
}

.test-game__progress-bar {
  height: 100%;
  padding: 1px 0px;
  width: 0%;
  background-color: #d503ff;
  box-shadow: 0px 0px 3px #d503ff;
  transition: all 0.3s ease;
}

.test-game__progress-question {
  padding-top: 20px;
  font-size: 16px;
  color: #d503ff;
  text-shadow: 0px 0px 10px #d503ff;
}

.test-game__question {
  font-size: 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.test-game__answer-list {
  display: flex;
  margin-top: 90px;
  font-size: 26px;
  transition: all 0.3s ease;
  flex-direction: column;
  text-align: center;
}

.test-game__answer-item {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #121212;
  border-radius: 7px;
  transition: all 0.3s ease;
  text-align: center;
  width: 100%;
}

.test-game__answer-item:hover {
  /* border: #d503ff 3px dashed; */
  outline: #d503ff 3px solid;
  outline-offset: -3px;
  box-shadow: 0px 0px 8px #d503ff;
}

.test-game__answer-item + .test-game__answer-item {
  margin-top: 10px;
}

/* ================== Test Result===================== */

.test-result__inner {
  margin: 50px auto;
  padding-top: 20px;
  background-color: #2e2e2e;
  max-width: 700px;
  border-radius: 15px;
  text-align: center;
}

.test-result__img {
  max-width: 150px;
  padding: 20px 0px;
}

.test-result__btn {
  margin-top: 40px;
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  /* background-color: #d503ff; */
  /* background-color: #ff158b; */
  transition: all 0.3s ease;
  outline: 1px #ff158b solid;
  outline-offset: -3px;
  color: #ff158b;
  background-color: transparent;
  font-weight: 700;
}

.test-result__btn:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  box-shadow: 0px 0px 5px #ff158b;
  text-shadow: 0px 0px 1px #ff158b;
}

.test-result__btn-exit {
  border-radius: 0px 0px 15px 15px;
  margin-top: 0px;
  /* background-color: #ff158b; */
  transition: all 0.3s ease;
}

.test-result__btn-show {
  margin-top: 0px;
  transition: all 0.3s ease;
}

.test-result__btn-show:hover {
}

.test-result__btn-exit:hover {
}

.test-result__like {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.test-result__like-img {
  max-width: 40px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  margin-right: 5px;
}

.test-result__like-img:hover {
  background-color: #d503ff;
  box-shadow: 0px 0px 15px #d503ff;
}

.test-result__answers {
  margin: 0 auto;
  padding: 20px;
  background-color: #2e2e2e;
  max-width: 700px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.test-result__answer {
  padding: 20px 0px;
  /* border: #121212 3px solid; */
}

.test-result__answer-value {
  padding: 10px 20px;
  background-color: #202020;
  border-radius: 7px;
  transition: all 0.3s ease;
  text-align: center;
  width: 100%;
  /* #ff0f0f */
}

.test-result__answer-question {
  margin-bottom: 10px;
}

.test-result__answer-value + .test-result__answer-value {
  margin-top: 7px;
}

/* ============ Test home ============== */

.test-home__inner {
  margin: 0 auto;
  background-color: #2e2e2e;
  max-width: 450px;
  text-align: center;
  border-radius: 15px;
}

.test-home__img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.test-home__description {
  padding: 25px 0px;
}

/* .test-home__numbers-questions {
  margin-top: 5px;
  padding: 5px;
  background-color: #121212;
  max-width: 30px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
} */

.test-home__btn {
  padding: 10px;
  margin-top: 15px;

  display: block;
  align-items: center;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  transition: all 0.3s ease;
  /* color: #2e2e2e; */
  font-weight: 700;
  outline: 1px #ff158b solid;
  outline-offset: -2px;
  color: #ff158b;
  background-color: transparent;
  box-shadow: 0px 0px 3px #ff158b;
  text-shadow: 0px 0px 2px #ff158b;
}

.test-home__btn:hover {
  background-color: #ff158b;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

.test-home__title {
  padding: 15px;
  font-size: 21px;
}

.test-home__description {
  padding: 20px;
}

/* .test-home__numbers-questions-text {
  color: #d503ff;
  text-shadow: 0px 0px 30px #d503ff;
} */

/* ================article-card======================== */

.article-card {
  padding-bottom: 10px;
  border-radius: 20px;
  width: 420px;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
}

.article-card + .article-card {
  margin-left: 10px;
}

.article-card__img {
  width: 100%;
  height: 235px;
  border-radius: 15px 15px 0px 0px;
}

.article-card__title {
  padding: 20px 10px;
}

.article-card:hover {
  box-shadow: 0px 0px 25px #ff158b;
  outline: #ff158b 4px solid;
  transform: scale3d(1.07, 1.07, 1.07);
}

.article-card__description {
  padding: 10px 10px;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.578);
}

.article-card__body {
  height: 250px;
}

.article-card__reactions {
  border-top: #202020 1px solid;
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.article__paragraphs-text {
  max-width: 900px;
}

/* =======================article================== */
.article__inner {
  padding: 30px;
  background-color: #2e2e2e;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__title {
  padding: 20px 0px;
  border-bottom: 1px #12121287 solid;
}
.article__text {
  padding: 25px 0px;
}

.article__img {
  width: 100%;

  border-radius: 15px;
  margin-top: 20px;
}

.article__paragraphs {
  padding: 10px 0px;
}

.article__paragraphs-text {
  padding: 5px 0px;
  color: rgba(255, 255, 255, 0.932);
}

/* ==================== New Value Card ================= */

.new-value-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #2e2e2e;
  height: 150px;
  display: flex;
  align-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.new-value-card + .new-value-card {
  margin-top: 40px;
}

.new-value-card:hover {
  box-shadow: 0px 0px 25px #ff158b;
  outline: #ff158b 4px solid;
  transform: scale3d(1.07, 1.07, 1.07);
}

.new-value-card__img {
  height: 140px;
}

.new-value-card__body {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

/* =================Адаптив================ */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .test-game__inner {
    max-width: 700px;
  }
  .article__paragraphs-text {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .test-game__inner {
    max-width: 500px;
  }

  .test-result__inner {
    max-width: 500px;
  }

  .test-result__answers {
    max-width: 500px;
  }
  .article__paragraphs-text {
    max-width: 600px;
  }
}
@media screen and (max-width: 576px) {
  .article__paragraphs-text {
    max-width: 200px;
    font-size: 12px;
  }
  .test {
    max-width: 320px;
  }

  .test + .test {
    margin-top: 20px;
    margin-left: 0px;
  }

  .test__title {
    font-size: 13px;
  }

  .test__description {
    font-size: 12px;
  }

  .test__reactions {
    font-size: 11px;
  }

  .test__reactions-like {
    max-width: 20px;
  }

  /* =============test home============ */

  .test-home__inner {
    max-width: 400px;
    font-size: 12px;
  }

  .test-home__description {
    font-size: 11px;
  }

  /* ================== test game ================== */

  .test-game__inner {
    max-width: 290px;
  }

  .test-game__question {
    font-size: 16px;
  }

  .test-game__answer-list {
    margin-top: 15px;
  }

  .test-game__answer-item {
    font-size: 14px;
  }
  /* ================== result test ============== */
  .test-result__inner {
    max-width: 290px;
    font-size: 12px;
  }

  .test-result__title {
    font-size: 15px;
  }

  .test-result__img {
    max-width: 90px;
  }

  .test-result__answers {
    max-width: 290px;
    font-size: 12px;
    /* padding: 0px; */
  }
}
