* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
  background-color: #121212;
  border: none;
}

button {
  text-decoration: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
